.player-information{
  .gears{
    display: inline-block;
    margin: 10px 0;
    .gear{
      width: 55px;
      display: inline-block;
      background: #f96332;
      .level{
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        font-size: 0.8rem;
        font-weight: 600;
      }
    }
  }
}