{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    {% include('/bundles/TwigBundle/Exception/skull.html.twig') %}

    <p style="
        color: white;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: -webkit-center;
        font-size: 25px;">
        {{ status_text }}<br>{{ status_code }}
    </p>
{% endblock %}